.magazin-container{
    /* h-full flex flex-col justify-center items-center border border-blue-500 overflow-hidden */
    display: flex;
    
    height: 100vh; /* Or any specific height */
    width: 100vw; /* Or any specific width */
    border: 1px solid rgb(206, 12, 190); /* Just to visualize the parent container */
    
}

.flip-contain{
display: flex;
justify-content: center;
    align-items: center;
}

.img-shadow{
    box-shadow: -15px 0 10px -5px rgb(77, 76, 75);
}